.cart_icon {
  padding: 0.5rem;
  border-radius: 999rem;
  display: flex;
  align-items: center;

  &:hover {
    background-color: $back-c-highlight;
  }
}

.cart_amount {
  position: relative;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  color: #ff5a1e;
  background: $back-c-detail;

  @media (min-width: 768px) {
  }
}

.no_items {
  display: none;
}

.bump {
  animation: bump 150ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
